// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 html {
font-size: 14px;
 }

table, td, th {
    border: 1px solid rgba(104, 31, 28, 1);
}

th {
    background-color: rgba(104, 31, 28, 1);
    color: white;
    text-align: center;
    }

 table {
 width: 1100px;
 }

ul.b {
    list-style-type: square;
}